* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
        list-style: none;
        margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}

.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;   
    align-items: center;
    margin: 80px 0; 
}

.firstSection > div{
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(170, 107, 228);
}

#element{
    color: rgb(170, 107, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}