* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
        list-style: none;
        margin: 0 23px;
    }

.left {
    font-size: 2rem;
}